sample_02_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_15_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_17_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_01_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_03_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_06_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_08_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_11_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_11_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_05_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_12_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_19_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_20_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_03_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_07_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_18_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_01_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_10_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_10_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_14_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_18_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_16_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_17_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_06_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_07_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_08_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_12_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_13_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_15_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_20_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_04_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_04_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_09_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_19_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_02_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_05_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_09_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_13_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_14_1.fasta filter=lfs diff=lfs merge=lfs -text
sample_16_2.fasta filter=lfs diff=lfs merge=lfs -text
sample_18_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_20_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_04_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_06_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_07_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_09_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_15_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_19_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_03_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_12_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_17_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_03_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_07_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_08_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_10_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_11_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_01_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_01_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_02_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_14_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_15_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_18_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_20_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_10_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_13_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_13_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_06_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_12_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_16_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_19_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_04_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_05_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_05_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_08_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_14_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_17_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_16_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_02_2.fastq filter=lfs diff=lfs merge=lfs -text
sample_09_1.fastq filter=lfs diff=lfs merge=lfs -text
sample_11_2.fastq filter=lfs diff=lfs merge=lfs -text
variants.gtf filter=lfs diff=lfs merge=lfs -text
