X.fa filter=lfs diff=lfs merge=lfs -text
21.fa filter=lfs diff=lfs merge=lfs -text
2.fa filter=lfs diff=lfs merge=lfs -text
3.fa filter=lfs diff=lfs merge=lfs -text
5.fa filter=lfs diff=lfs merge=lfs -text
6.fa filter=lfs diff=lfs merge=lfs -text
9.fa filter=lfs diff=lfs merge=lfs -text
MT.fa filter=lfs diff=lfs merge=lfs -text
Y.fa filter=lfs diff=lfs merge=lfs -text
10.fa filter=lfs diff=lfs merge=lfs -text
13.fa filter=lfs diff=lfs merge=lfs -text
17.fa filter=lfs diff=lfs merge=lfs -text
18.fa filter=lfs diff=lfs merge=lfs -text
22.fa filter=lfs diff=lfs merge=lfs -text
4.fa filter=lfs diff=lfs merge=lfs -text
7.fa filter=lfs diff=lfs merge=lfs -text
11.fa filter=lfs diff=lfs merge=lfs -text
12.fa filter=lfs diff=lfs merge=lfs -text
14.fa filter=lfs diff=lfs merge=lfs -text
1.fa filter=lfs diff=lfs merge=lfs -text
20.fa filter=lfs diff=lfs merge=lfs -text
15.fa filter=lfs diff=lfs merge=lfs -text
16.fa filter=lfs diff=lfs merge=lfs -text
19.fa filter=lfs diff=lfs merge=lfs -text
8.fa filter=lfs diff=lfs merge=lfs -text
